<div class="form-group">
	<label for="<%= name %>" class="col-lg-4 control-label">
		<% if(hidelabel) { %><span class="access-hide"><% } %><%= label %><% if(hidelabel) { %></span><% } %>
	</label>
	<div class="col-lg-8 input-block">
		
		<% _.each(checkboxes, function(checkbox, i){ %>

		<div class="checkbox">
			<label>
				<input type="checkbox" name="<%= name+'-'+i %>" id="<%= name+'-'+i %>" value="on" ektdesignns_caption="<%= label %> - <%= checkbox %>" ektdesignns_name="<%= name+'-'+i %>" title="<%= label %> - <%= checkbox %>" ektdesignns_nodetype="element" />
				<%= checkbox %>
			</label>
		</div>

		<% }); %>
		
	</div>
</div>