<!-- Multiple Radios (inline) -->
<div class="control-group">
  <label class="control-label <% if(hidelabel) {%>access-hide<% } %>" for="<%= name %>"><%= label %></label>
  <div class="controls">
  	<ektdesignns_choices title="<%= label %>" ektdesignns_nodetype="element" id="<%= name %>" name="<%= name %>" ektdesignns_caption="<%= label %>" ektdesignns_name="<%= name %>"><% _.each(radios, function(radio, i){ %>
    <label class="radio inline" for="<%= name+'-'+i %>" contenteditable="true" unselectable="off">
      <input type="radio" name="<%= name %>" id="<%= name+'-'+i %>" value="<%= radio %>" ektdesignns_nodetype="item" <% if (i < 1) { %> checked="checked" <% } %>>
      <%= radio %>
    </label><% }); %>
    </ektdesignns_choices>
  </div>
</div>
