/*html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.428571429;
  color: @dark-grey;
  background-color: #ffffff;
}*/
div#main div.form label {
  float: none;
  clear: none;
  margin-right: 0px;
  margin-top: 0px;
  text-align: right;
  width: auto;
  font-size: 12px !important;
  line-height: 20px;
}
div#main div.form select {
  width: 100% !important;
  top: 0px;
}
section#content div#main #bootstrap-wrapper {
  /*width:470px;*/

  /* @group Overriding NAU Styles */

  /* @end */

}
section#content div#main #bootstrap-wrapper [hidden] {
  display: none;
}
section#content div#main #bootstrap-wrapper a:focus {
  outline: thin dotted;
}
section#content div#main #bootstrap-wrapper a:active,
section#content div#main #bootstrap-wrapper a:hover {
  outline: 0;
}
section#content div#main #bootstrap-wrapper h1 {
  margin: 0.67em 0;
  font-size: 2em;
}
section#content div#main #bootstrap-wrapper b,
section#content div#main #bootstrap-wrapper strong {
  font-weight: bold;
}
section#content div#main #bootstrap-wrapper button,
section#content div#main #bootstrap-wrapper input,
section#content div#main #bootstrap-wrapper select,
section#content div#main #bootstrap-wrapper textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}
section#content div#main #bootstrap-wrapper button,
section#content div#main #bootstrap-wrapper input {
  line-height: normal;
}
section#content div#main #bootstrap-wrapper button,
section#content div#main #bootstrap-wrapper select {
  text-transform: none;
}
section#content div#main #bootstrap-wrapper button,
section#content div#main #bootstrap-wrapper html input[type="button"],
section#content div#main #bootstrap-wrapper input[type="reset"],
section#content div#main #bootstrap-wrapper input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
section#content div#main #bootstrap-wrapper button[disabled],
section#content div#main #bootstrap-wrapper html input[disabled] {
  cursor: default;
}
section#content div#main #bootstrap-wrapper input[type="checkbox"],
section#content div#main #bootstrap-wrapper input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
}
section#content div#main #bootstrap-wrapper button::-moz-focus-inner,
section#content div#main #bootstrap-wrapper input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
section#content div#main #bootstrap-wrapper textarea {
  overflow: auto;
  vertical-align: top;
}
section#content div#main #bootstrap-wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section#content div#main #bootstrap-wrapper input,
section#content div#main #bootstrap-wrapper button,
section#content div#main #bootstrap-wrapper select,
section#content div#main #bootstrap-wrapper textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
section#content div#main #bootstrap-wrapper a {
  color: #428bca;
  text-decoration: none;
}
section#content div#main #bootstrap-wrapper a:hover,
section#content div#main #bootstrap-wrapper a:focus {
  color: #2a6496;
  text-decoration: underline;
}
section#content div#main #bootstrap-wrapper a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
section#content div#main #bootstrap-wrapper p {
  margin: 0 0 10px;
}
section#content div#main #bootstrap-wrapper h1,
section#content div#main #bootstrap-wrapper h2,
section#content div#main #bootstrap-wrapper h3,
section#content div#main #bootstrap-wrapper h4,
section#content div#main #bootstrap-wrapper h5,
section#content div#main #bootstrap-wrapper h6,
section#content div#main #bootstrap-wrapper .h1,
section#content div#main #bootstrap-wrapper .h2,
section#content div#main #bootstrap-wrapper .h3,
section#content div#main #bootstrap-wrapper .h4,
section#content div#main #bootstrap-wrapper .h5,
section#content div#main #bootstrap-wrapper .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
}
section#content div#main #bootstrap-wrapper h1 small,
section#content div#main #bootstrap-wrapper h2 small,
section#content div#main #bootstrap-wrapper h3 small,
section#content div#main #bootstrap-wrapper h4 small,
section#content div#main #bootstrap-wrapper h5 small,
section#content div#main #bootstrap-wrapper h6 small,
section#content div#main #bootstrap-wrapper .h1 small,
section#content div#main #bootstrap-wrapper .h2 small,
section#content div#main #bootstrap-wrapper .h3 small,
section#content div#main #bootstrap-wrapper .h4 small,
section#content div#main #bootstrap-wrapper .h5 small,
section#content div#main #bootstrap-wrapper .h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
section#content div#main #bootstrap-wrapper h1,
section#content div#main #bootstrap-wrapper h2,
section#content div#main #bootstrap-wrapper h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
section#content div#main #bootstrap-wrapper h4,
section#content div#main #bootstrap-wrapper h5,
section#content div#main #bootstrap-wrapper h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
section#content div#main #bootstrap-wrapper h1,
section#content div#main #bootstrap-wrapper .h1 {
  font-size: 38px;
}
section#content div#main #bootstrap-wrapper h2,
section#content div#main #bootstrap-wrapper .h2 {
  font-size: 32px;
}
section#content div#main #bootstrap-wrapper h3,
section#content div#main #bootstrap-wrapper .h3 {
  font-size: 24px;
}
section#content div#main #bootstrap-wrapper h4,
section#content div#main #bootstrap-wrapper .h4 {
  font-size: 18px;
}
section#content div#main #bootstrap-wrapper h5,
section#content div#main #bootstrap-wrapper .h5 {
  font-size: 14px;
}
section#content div#main #bootstrap-wrapper h6,
section#content div#main #bootstrap-wrapper .h6 {
  font-size: 12px;
}
section#content div#main #bootstrap-wrapper h1 small,
section#content div#main #bootstrap-wrapper .h1 small {
  font-size: 24px;
}
section#content div#main #bootstrap-wrapper h2 small,
section#content div#main #bootstrap-wrapper .h2 small {
  font-size: 18px;
}
section#content div#main #bootstrap-wrapper h3 small,
section#content div#main #bootstrap-wrapper .h3 small,
section#content div#main #bootstrap-wrapper h4 small,
section#content div#main #bootstrap-wrapper .h4 small {
  font-size: 14px;
}
section#content div#main #bootstrap-wrapper ul,
section#content div#main #bootstrap-wrapper ol {
  margin-top: 0;
  margin-bottom: 10px;
}
section#content div#main #bootstrap-wrapper ul ul,
section#content div#main #bootstrap-wrapper ol ul,
section#content div#main #bootstrap-wrapper ul ol,
section#content div#main #bootstrap-wrapper ol ol {
  margin-bottom: 0;
}
section#content div#main #bootstrap-wrapper .col-1,
section#content div#main #bootstrap-wrapper .col-2,
section#content div#main #bootstrap-wrapper .col-3,
section#content div#main #bootstrap-wrapper .col-4,
section#content div#main #bootstrap-wrapper .col-5,
section#content div#main #bootstrap-wrapper .col-6,
section#content div#main #bootstrap-wrapper .col-7,
section#content div#main #bootstrap-wrapper .col-8,
section#content div#main #bootstrap-wrapper .col-9,
section#content div#main #bootstrap-wrapper .col-10,
section#content div#main #bootstrap-wrapper .col-11,
section#content div#main #bootstrap-wrapper .col-12,
section#content div#main #bootstrap-wrapper .col-sm-1,
section#content div#main #bootstrap-wrapper .col-sm-2,
section#content div#main #bootstrap-wrapper .col-sm-3,
section#content div#main #bootstrap-wrapper .col-sm-4,
section#content div#main #bootstrap-wrapper .col-sm-5,
section#content div#main #bootstrap-wrapper .col-sm-6,
section#content div#main #bootstrap-wrapper .col-sm-7,
section#content div#main #bootstrap-wrapper .col-sm-8,
section#content div#main #bootstrap-wrapper .col-sm-9,
section#content div#main #bootstrap-wrapper .col-sm-10,
section#content div#main #bootstrap-wrapper .col-sm-11,
section#content div#main #bootstrap-wrapper .col-sm-12,
section#content div#main #bootstrap-wrapper .col-lg-1,
section#content div#main #bootstrap-wrapper .col-lg-2,
section#content div#main #bootstrap-wrapper .col-lg-3,
section#content div#main #bootstrap-wrapper .col-lg-4,
section#content div#main #bootstrap-wrapper .col-lg-5,
section#content div#main #bootstrap-wrapper .col-lg-6,
section#content div#main #bootstrap-wrapper .col-lg-7,
section#content div#main #bootstrap-wrapper .col-lg-8,
section#content div#main #bootstrap-wrapper .col-lg-9,
section#content div#main #bootstrap-wrapper .col-lg-10,
section#content div#main #bootstrap-wrapper .col-lg-11,
section#content div#main #bootstrap-wrapper .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
section#content div#main #bootstrap-wrapper .col-1,
section#content div#main #bootstrap-wrapper .col-2,
section#content div#main #bootstrap-wrapper .col-3,
section#content div#main #bootstrap-wrapper .col-4,
section#content div#main #bootstrap-wrapper .col-5,
section#content div#main #bootstrap-wrapper .col-6,
section#content div#main #bootstrap-wrapper .col-7,
section#content div#main #bootstrap-wrapper .col-8,
section#content div#main #bootstrap-wrapper .col-9,
section#content div#main #bootstrap-wrapper .col-10,
section#content div#main #bootstrap-wrapper .col-11,
section#content div#main #bootstrap-wrapper .col-12 {
  float: left;
}
section#content div#main #bootstrap-wrapper .col-1 {
  width: 8.333333333333332%;
}
section#content div#main #bootstrap-wrapper .col-2 {
  width: 16.666666666666664%;
}
section#content div#main #bootstrap-wrapper .col-3 {
  width: 25%;
}
section#content div#main #bootstrap-wrapper .col-4 {
  width: 33.33333333333333%;
}
section#content div#main #bootstrap-wrapper .col-5 {
  width: 41.66666666666667%;
}
section#content div#main #bootstrap-wrapper .col-6 {
  width: 50%;
}
section#content div#main #bootstrap-wrapper .col-7 {
  width: 58.333333333333336%;
}
section#content div#main #bootstrap-wrapper .col-8 {
  width: 66.66666666666666%;
}
section#content div#main #bootstrap-wrapper .col-9 {
  width: 75%;
}
section#content div#main #bootstrap-wrapper .col-10 {
  width: 83.33333333333334%;
}
section#content div#main #bootstrap-wrapper .col-11 {
  width: 91.66666666666666%;
}
section#content div#main #bootstrap-wrapper .col-12 {
  width: 100%;
}
section#content div#main #bootstrap-wrapper .col-lg-1,
section#content div#main #bootstrap-wrapper .col-lg-2,
section#content div#main #bootstrap-wrapper .col-lg-3,
section#content div#main #bootstrap-wrapper .col-lg-4,
section#content div#main #bootstrap-wrapper .col-lg-5,
section#content div#main #bootstrap-wrapper .col-lg-6,
section#content div#main #bootstrap-wrapper .col-lg-7,
section#content div#main #bootstrap-wrapper .col-lg-8,
section#content div#main #bootstrap-wrapper .col-lg-9,
section#content div#main #bootstrap-wrapper .col-lg-10,
section#content div#main #bootstrap-wrapper .col-lg-11,
section#content div#main #bootstrap-wrapper .col-lg-12 {
  float: left;
}
section#content div#main #bootstrap-wrapper .col-lg-1 {
  width: 8.333333333333332%;
}
section#content div#main #bootstrap-wrapper .col-lg-2 {
  width: 16.666666666666664%;
}
section#content div#main #bootstrap-wrapper .col-lg-3 {
  width: 25%;
}
section#content div#main #bootstrap-wrapper .col-lg-4 {
  width: 33.33333333333333%;
}
section#content div#main #bootstrap-wrapper .col-lg-5 {
  width: 41.66666666666667%;
}
section#content div#main #bootstrap-wrapper .col-lg-6 {
  width: 50%;
}
section#content div#main #bootstrap-wrapper .col-lg-7 {
  width: 58.333333333333336%;
}
section#content div#main #bootstrap-wrapper .col-lg-8 {
  width: 66.66666666666666%;
}
section#content div#main #bootstrap-wrapper .col-lg-9 {
  width: 75%;
}
section#content div#main #bootstrap-wrapper .col-lg-10 {
  width: 83.33333333333334%;
}
section#content div#main #bootstrap-wrapper .col-lg-11 {
  width: 91.66666666666666%;
}
section#content div#main #bootstrap-wrapper .col-lg-12 {
  width: 100%;
}
section#content div#main #bootstrap-wrapper .col-offset-1 {
  margin-left: 8.333333333333332%;
}
section#content div#main #bootstrap-wrapper .col-offset-2 {
  margin-left: 16.666666666666664%;
}
section#content div#main #bootstrap-wrapper .col-offset-3 {
  margin-left: 25%;
}
section#content div#main #bootstrap-wrapper .col-offset-4 {
  margin-left: 33.33333333333333%;
}
section#content div#main #bootstrap-wrapper .col-offset-5 {
  margin-left: 41.66666666666667%;
}
section#content div#main #bootstrap-wrapper .col-offset-6 {
  margin-left: 50%;
}
section#content div#main #bootstrap-wrapper .col-offset-7 {
  margin-left: 58.333333333333336%;
}
section#content div#main #bootstrap-wrapper .col-offset-8 {
  margin-left: 66.66666666666666%;
}
section#content div#main #bootstrap-wrapper .col-offset-9 {
  margin-left: 75%;
}
section#content div#main #bootstrap-wrapper .col-offset-10 {
  margin-left: 83.33333333333334%;
}
section#content div#main #bootstrap-wrapper .col-offset-11 {
  margin-left: 91.66666666666666%;
}
section#content div#main #bootstrap-wrapper label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
section#content div#main #bootstrap-wrapper input[type="radio"],
section#content div#main #bootstrap-wrapper input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
}
section#content div#main #bootstrap-wrapper input[type="file"] {
  display: block;
}
section#content div#main #bootstrap-wrapper select[multiple],
section#content div#main #bootstrap-wrapper select[size] {
  height: auto;
}
section#content div#main #bootstrap-wrapper select optgroup {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
}
section#content div#main #bootstrap-wrapper input[type="file"]:focus,
section#content div#main #bootstrap-wrapper input[type="radio"]:focus,
section#content div#main #bootstrap-wrapper input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
section#content div#main #bootstrap-wrapper .form-control:-moz-placeholder {
  color: #999999;
}
section#content div#main #bootstrap-wrapper .form-control::-moz-placeholder {
  color: #999999;
}
section#content div#main #bootstrap-wrapper .form-control:-ms-input-placeholder {
  color: #999999;
}
section#content div#main #bootstrap-wrapper .form-control::-webkit-input-placeholder {
  color: #999999;
}
section#content div#main #bootstrap-wrapper .form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
section#content div#main #bootstrap-wrapper .form-control:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
section#content div#main #bootstrap-wrapper .form-control[disabled],
section#content div#main #bootstrap-wrapper .form-control[readonly],
section#content div#main #bootstrap-wrapper fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}
section#content div#main #bootstrap-wrapper textarea.form-control {
  height: auto;
}
section#content div#main #bootstrap-wrapper .form-group {
  margin-bottom: 15px;
}
section#content div#main #bootstrap-wrapper .radio,
section#content div#main #bootstrap-wrapper .checkbox {
  display: block;
  min-height: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}
section#content div#main #bootstrap-wrapper .radio label,
section#content div#main #bootstrap-wrapper .checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
section#content div#main #bootstrap-wrapper .radio input[type="radio"],
section#content div#main #bootstrap-wrapper .radio-inline input[type="radio"],
section#content div#main #bootstrap-wrapper .checkbox input[type="checkbox"],
section#content div#main #bootstrap-wrapper .checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
section#content div#main #bootstrap-wrapper .radio + .radio,
section#content div#main #bootstrap-wrapper .checkbox + .checkbox {
  margin-top: -5px;
}
section#content div#main #bootstrap-wrapper .radio-inline,
section#content div#main #bootstrap-wrapper .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
section#content div#main #bootstrap-wrapper .radio-inline + .radio-inline,
section#content div#main #bootstrap-wrapper .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
section#content div#main #bootstrap-wrapper .form-control.input-large {
  height: 56px;
  padding: 14px 16px;
  font-size: 18px;
  border-radius: 6px;
}
section#content div#main #bootstrap-wrapper .form-control.input-small {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}
section#content div#main #bootstrap-wrapper select.input-large {
  height: 56px;
  line-height: 56px;
}
section#content div#main #bootstrap-wrapper select.input-small {
  height: 30px;
  line-height: 30px;
}
section#content div#main #bootstrap-wrapper .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
section#content div#main #bootstrap-wrapper .btn {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}
section#content div#main #bootstrap-wrapper .btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
section#content div#main #bootstrap-wrapper .btn:hover,
section#content div#main #bootstrap-wrapper .btn:focus {
  color: #ffffff;
  text-decoration: none;
}
section#content div#main #bootstrap-wrapper .btn:active,
section#content div#main #bootstrap-wrapper .btn.active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
section#content div#main #bootstrap-wrapper .btn.disabled,
section#content div#main #bootstrap-wrapper .btn[disabled],
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn {
  pointer-events: none;
  cursor: default;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
section#content div#main #bootstrap-wrapper .btn-default {
  color: #ffffff;
  background-color: #474949;
  border-color: #474949;
}
section#content div#main #bootstrap-wrapper .btn-default:hover,
section#content div#main #bootstrap-wrapper .btn-default:focus,
section#content div#main #bootstrap-wrapper .btn-default:active,
section#content div#main #bootstrap-wrapper .btn-default.active {
  background-color: #3a3c3c;
  border-color: #2e2f2f;
}
section#content div#main #bootstrap-wrapper .btn-default.disabled,
section#content div#main #bootstrap-wrapper .btn-default[disabled],
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-default,
section#content div#main #bootstrap-wrapper .btn-default.disabled:hover,
section#content div#main #bootstrap-wrapper .btn-default[disabled]:hover,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-default:hover,
section#content div#main #bootstrap-wrapper .btn-default.disabled:focus,
section#content div#main #bootstrap-wrapper .btn-default[disabled]:focus,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-default:focus,
section#content div#main #bootstrap-wrapper .btn-default.disabled:active,
section#content div#main #bootstrap-wrapper .btn-default[disabled]:active,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-default:active,
section#content div#main #bootstrap-wrapper .btn-default.disabled.active,
section#content div#main #bootstrap-wrapper .btn-default[disabled].active,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-default.active {
  background-color: #474949;
  border-color: #474949;
}
section#content div#main #bootstrap-wrapper .btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}
section#content div#main #bootstrap-wrapper .btn-primary:hover,
section#content div#main #bootstrap-wrapper .btn-primary:focus,
section#content div#main #bootstrap-wrapper .btn-primary:active,
section#content div#main #bootstrap-wrapper .btn-primary.active {
  background-color: #357ebd;
  border-color: #3071a9;
}
section#content div#main #bootstrap-wrapper .btn-primary.disabled,
section#content div#main #bootstrap-wrapper .btn-primary[disabled],
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-primary,
section#content div#main #bootstrap-wrapper .btn-primary.disabled:hover,
section#content div#main #bootstrap-wrapper .btn-primary[disabled]:hover,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-primary:hover,
section#content div#main #bootstrap-wrapper .btn-primary.disabled:focus,
section#content div#main #bootstrap-wrapper .btn-primary[disabled]:focus,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-primary:focus,
section#content div#main #bootstrap-wrapper .btn-primary.disabled:active,
section#content div#main #bootstrap-wrapper .btn-primary[disabled]:active,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-primary:active,
section#content div#main #bootstrap-wrapper .btn-primary.disabled.active,
section#content div#main #bootstrap-wrapper .btn-primary[disabled].active,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #428bca;
}
section#content div#main #bootstrap-wrapper .btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
section#content div#main #bootstrap-wrapper .btn-warning:hover,
section#content div#main #bootstrap-wrapper .btn-warning:focus,
section#content div#main #bootstrap-wrapper .btn-warning:active,
section#content div#main #bootstrap-wrapper .btn-warning.active {
  background-color: #eea236;
  border-color: #ec971f;
}
section#content div#main #bootstrap-wrapper .btn-warning.disabled,
section#content div#main #bootstrap-wrapper .btn-warning[disabled],
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-warning,
section#content div#main #bootstrap-wrapper .btn-warning.disabled:hover,
section#content div#main #bootstrap-wrapper .btn-warning[disabled]:hover,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-warning:hover,
section#content div#main #bootstrap-wrapper .btn-warning.disabled:focus,
section#content div#main #bootstrap-wrapper .btn-warning[disabled]:focus,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-warning:focus,
section#content div#main #bootstrap-wrapper .btn-warning.disabled:active,
section#content div#main #bootstrap-wrapper .btn-warning[disabled]:active,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-warning:active,
section#content div#main #bootstrap-wrapper .btn-warning.disabled.active,
section#content div#main #bootstrap-wrapper .btn-warning[disabled].active,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
section#content div#main #bootstrap-wrapper .btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d9534f;
}
section#content div#main #bootstrap-wrapper .btn-danger:hover,
section#content div#main #bootstrap-wrapper .btn-danger:focus,
section#content div#main #bootstrap-wrapper .btn-danger:active,
section#content div#main #bootstrap-wrapper .btn-danger.active {
  background-color: #d43f3a;
  border-color: #c9302c;
}
section#content div#main #bootstrap-wrapper .btn-danger.disabled,
section#content div#main #bootstrap-wrapper .btn-danger[disabled],
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-danger,
section#content div#main #bootstrap-wrapper .btn-danger.disabled:hover,
section#content div#main #bootstrap-wrapper .btn-danger[disabled]:hover,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-danger:hover,
section#content div#main #bootstrap-wrapper .btn-danger.disabled:focus,
section#content div#main #bootstrap-wrapper .btn-danger[disabled]:focus,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-danger:focus,
section#content div#main #bootstrap-wrapper .btn-danger.disabled:active,
section#content div#main #bootstrap-wrapper .btn-danger[disabled]:active,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-danger:active,
section#content div#main #bootstrap-wrapper .btn-danger.disabled.active,
section#content div#main #bootstrap-wrapper .btn-danger[disabled].active,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d9534f;
}
section#content div#main #bootstrap-wrapper .btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
section#content div#main #bootstrap-wrapper .btn-success:hover,
section#content div#main #bootstrap-wrapper .btn-success:focus,
section#content div#main #bootstrap-wrapper .btn-success:active,
section#content div#main #bootstrap-wrapper .btn-success.active {
  background-color: #4cae4c;
  border-color: #449d44;
}
section#content div#main #bootstrap-wrapper .btn-success.disabled,
section#content div#main #bootstrap-wrapper .btn-success[disabled],
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-success,
section#content div#main #bootstrap-wrapper .btn-success.disabled:hover,
section#content div#main #bootstrap-wrapper .btn-success[disabled]:hover,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-success:hover,
section#content div#main #bootstrap-wrapper .btn-success.disabled:focus,
section#content div#main #bootstrap-wrapper .btn-success[disabled]:focus,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-success:focus,
section#content div#main #bootstrap-wrapper .btn-success.disabled:active,
section#content div#main #bootstrap-wrapper .btn-success[disabled]:active,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-success:active,
section#content div#main #bootstrap-wrapper .btn-success.disabled.active,
section#content div#main #bootstrap-wrapper .btn-success[disabled].active,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
section#content div#main #bootstrap-wrapper .btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
section#content div#main #bootstrap-wrapper .btn-info:hover,
section#content div#main #bootstrap-wrapper .btn-info:focus,
section#content div#main #bootstrap-wrapper .btn-info:active,
section#content div#main #bootstrap-wrapper .btn-info.active {
  background-color: #46b8da;
  border-color: #31b0d5;
}
section#content div#main #bootstrap-wrapper .btn-info.disabled,
section#content div#main #bootstrap-wrapper .btn-info[disabled],
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-info,
section#content div#main #bootstrap-wrapper .btn-info.disabled:hover,
section#content div#main #bootstrap-wrapper .btn-info[disabled]:hover,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-info:hover,
section#content div#main #bootstrap-wrapper .btn-info.disabled:focus,
section#content div#main #bootstrap-wrapper .btn-info[disabled]:focus,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-info:focus,
section#content div#main #bootstrap-wrapper .btn-info.disabled:active,
section#content div#main #bootstrap-wrapper .btn-info[disabled]:active,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-info:active,
section#content div#main #bootstrap-wrapper .btn-info.disabled.active,
section#content div#main #bootstrap-wrapper .btn-info[disabled].active,
section#content div#main #bootstrap-wrapper fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
section#content div#main #bootstrap-wrapper input[type="submit"].btn-block,
section#content div#main #bootstrap-wrapper input[type="button"].btn-block {
  width: 100%;
}
section#content div#main #bootstrap-wrapper .form-horizontal .control-label {
  padding-top: 9px;
}
section#content div#main #bootstrap-wrapper .form-horizontal .form-group:before,
section#content div#main #bootstrap-wrapper .form-horizontal .form-group:after {
  display: table;
  content: " ";
}
section#content div#main #bootstrap-wrapper .form-horizontal .form-group:after {
  clear: both;
}
section#content div#main #bootstrap-wrapper .form-horizontal .form-group:before,
section#content div#main #bootstrap-wrapper .form-horizontal .form-group:after {
  display: table;
  content: " ";
}
section#content div#main #bootstrap-wrapper .form-horizontal .form-group:after {
  clear: both;
}
@media (min-width: 768px) {
  section#content div#main #bootstrap-wrapper .form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
  }
}
section#content div#main #bootstrap-wrapper .form-horizontal .form-group .row {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  section#content div#main #bootstrap-wrapper .form-horizontal .control-label {
    text-align: right;
  }
}
section#content div#main #bootstrap-wrapper .btn .caret {
  border-top-color: #ffffff;
}
section#content div#main #bootstrap-wrapper .btn .caret {
  margin-left: 0;
}
section#content div#main #bootstrap-wrapper .alert {
  padding: 10px 35px 10px 15px;
  margin-bottom: 20px;
  color: #c09853;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
}
section#content div#main #bootstrap-wrapper .alert h4 {
  margin-top: 0;
  color: inherit;
}
section#content div#main #bootstrap-wrapper .alert hr {
  border-top-color: #f8e5be;
}
section#content div#main #bootstrap-wrapper .alert .alert-link {
  font-weight: 500;
  color: #a47e3c;
}
section#content div#main #bootstrap-wrapper .alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
section#content div#main #bootstrap-wrapper .alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
section#content div#main #bootstrap-wrapper .alert-success hr {
  border-top-color: #c9e2b3;
}
section#content div#main #bootstrap-wrapper .alert-success .alert-link {
  color: #356635;
}
section#content div#main #bootstrap-wrapper .alert-danger {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
section#content div#main #bootstrap-wrapper .alert-danger hr {
  border-top-color: #e6c1c7;
}
section#content div#main #bootstrap-wrapper .alert-danger .alert-link {
  color: #953b39;
}
section#content div#main #bootstrap-wrapper .alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
section#content div#main #bootstrap-wrapper .alert-info hr {
  border-top-color: #a6e1ec;
}
section#content div#main #bootstrap-wrapper .alert-info .alert-link {
  color: #2d6987;
}
section#content div#main #bootstrap-wrapper .alert-block {
  padding-top: 15px;
  padding-bottom: 15px;
}
section#content div#main #bootstrap-wrapper .alert-block > p,
section#content div#main #bootstrap-wrapper .alert-block > ul {
  margin-bottom: 0;
}
section#content div#main #bootstrap-wrapper .alert-block p + p {
  margin-top: 5px;
}
section#content div#main #bootstrap-wrapper select,
section#content div#main #bootstrap-wrapper textarea,
section#content div#main #bootstrap-wrapper input {
  float: none;
  max-width: none;
  font-size: 12px !important;
}
section#content div#main #bootstrap-wrapper div {
  margin-top: 0px !important;
}
section#content div#main #bootstrap-wrapper li {
  margin: 0px;
}
section#content div#main #bootstrap-wrapper ul {
  list-style-type: none;
  list-style: none;
}
section#content div#main #bootstrap-wrapper p.header-sub {
  margin-top: -10px;
}
section#content div#main #bootstrap-wrapper .access-hide {
  position: absolute;
  left: -9999px;
  top: 0;
  overflow: hidden;
  height: 0px;
  margin-bottom: 0px;
}
section#content div#main #bootstrap-wrapper .form-horizontal .input-block {
  padding-left: 5px;
}
section#content div#main #bootstrap-wrapper .form-horizontal #all-error-messages ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
section#content div#main #bootstrap-wrapper .form-horizontal #all-error-messages a:hover {
  text-decoration: none;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
section#content div#main #bootstrap-wrapper .form-horizontal .checkbox,
section#content div#main #bootstrap-wrapper .form-horizontal .radio,
section#content div#main #bootstrap-wrapper .form-horizontal .radio-inline,
section#content div#main #bootstrap-wrapper .form-horizontal .checkbox-inline {
  margin-top: 5px !important;
}
section#content div#main #bootstrap-wrapper .form-horizontal .control-label {
  padding-right: 5px;
  padding-top: 5px;
}
section#content div#main #bootstrap-wrapper .form-horizontal label {
  font-weight: normal;
}
section#content div#main #bootstrap-wrapper .form-horizontal .form-control {
  height: 30px;
  padding: 3px 6px;
}
section#content div#main #bootstrap-wrapper .form-horizontal textarea.form-control {
  height: 85px;
}
section#content div#main #bootstrap-wrapper .form-horizontal input[type=submit] {
  margin-left: -10px;
}
section#content div#main #bootstrap-wrapper .form-horizontal .help-block-styles {
  font-size: .88em;
  margin: 5px 0px 0px 0px !important;
  padding: 0px 6px;
}
section#content div#main #bootstrap-wrapper .form-horizontal .help-block {
  padding: 10px 35px 10px 15px;
  margin-bottom: 20px;
  color: #c09853;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  font-size: .88em;
  margin: 5px 0px 0px 0px !important;
  padding: 0px 6px;
}
section#content div#main #bootstrap-wrapper .form-horizontal .help-block ul {
  list-style-type: none;
  margin: 0px;
  padding: 3px;
}
section#content div#main #bootstrap-wrapper .form-horizontal .help-block a:hover {
  text-decoration: none;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
section#content div#main #bootstrap-wrapper .form-horizontal .form-group {
  clear: both;
}
section#content div#main #bootstrap-wrapper .form-horizontal .form-group.error {
  border: none;
  padding: 0px;
}
section#content div#main #bootstrap-wrapper .form-horizontal .form-group.error .help-block {
  padding: 10px 35px 10px 15px;
  margin-bottom: 20px;
  color: #c09853;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  font-size: .88em;
  margin: 5px 0px 0px 0px !important;
  padding: 0px 6px;
}
section#content div#main #bootstrap-wrapper .form-horizontal .form-group.error .help-block ul {
  list-style: none;
  list-style-type: none;
  width: 100%;
}
section#content div#main #bootstrap-wrapper .form-horizontal .form-group.error .help-block li {
  padding: 0px;
  margin: 0px;
}
section#content div#main #bootstrap-wrapper .form-horizontal .form-group.warning .help-block {
  padding: 10px 35px 10px 15px;
  margin-bottom: 20px;
  color: #c09853;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
  font-size: .88em;
  margin: 5px 0px 0px 0px !important;
  padding: 0px 6px;
}
section#content div#main #bootstrap-wrapper .form-horizontal .form-group.success .help-block {
  padding: 10px 35px 10px 15px;
  margin-bottom: 20px;
  color: #c09853;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  font-size: .88em;
  margin: 5px 0px 0px 0px !important;
  padding: 0px 6px;
}
