
















	.form-inline {

		.controls-row [class*="span"] {

			textarea,
			select,
			input[type="text"],
			input[type="password"],
			input[type="datetime"],
			input[type="datetime-local"],
			input[type="date"],
			input[type="month"],
			input[type="time"],
			input[type="week"],
			input[type="number"],
			input[type="email"],
			input[type="url"],
			input[type="search"],
			input[type="tel"],
			input[type="color"],
			.uneditable-input {
				width: 100%;
				*width: 99.94680851063829%;
				display:inline-block;
				float:left;
				margin-left:0px;
				-webkit-box-sizing:border-box;
				-o-box-sizing:border-box;
				-moz-box-sizing:border-box;
				box-sizing:border-box;
				min-height:30px;
			}

		}

		.columns-span4 {
			width: 31.914893617021278%;
			*width: 31.861702127659576%;
		}

		.columns-span3 {
			width: 23.404255319148934%;
  			*width: 23.351063829787233%;
		}

		.controls-row {
			margin-bottom:10px;

			.checkbox.span4,
			.radio.span4 {
				.columns-span4;
				margin-left:1% !important;
			}

			.checkbox.span3,
			.radio.span3 {
				.columns-span3;
				margin-left:1% !important;
			}
		}

		textarea,
		select,
		input[type="text"],
		input[type="password"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="date"],
		input[type="month"],
		input[type="time"],
		input[type="week"],
		input[type="number"],
		input[type="email"],
		input[type="url"],
		input[type="search"],
		input[type="tel"],
		input[type="color"],
		.uneditable-input {
			margin-bottom:0px;
		}

		.help-block {
			font-size:.88em;
			margin:-10px 0px 0px 5px;
		}

		@media (max-width: 767px) {

			textarea,
			select,
			input[type="text"],
			input[type="password"],
			input[type="datetime"],
			input[type="datetime-local"],
			input[type="date"],
			input[type="month"],
			input[type="time"],
			input[type="week"],
			input[type="number"],
			input[type="email"],
			input[type="url"],
			input[type="search"],
			input[type="tel"],
			input[type="color"],
			.uneditable-input {
				margin-bottom:10px;
				margin-left:0% !important;
			}

			.controls-row {
				margin-bottom:0px;
				[class*="span"] + [class*="span"] {
					margin-left:0% !important;
				}
			}

			.help-block {
				font-size:.88em;
				margin:0px 0px 10px 0px;
			}
			

		}


	}

	@media (max-width: 480px) {
		margin:50px 0px 0px 0px;
		width:100% !important;

		textarea,
		select,
		input[type="text"],
		input[type="password"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="date"],
		input[type="month"],
		input[type="time"],
		input[type="week"],
		input[type="number"],
		input[type="email"],
		input[type="url"],
		input[type="search"],
		input[type="tel"],
		input[type="color"],
		.uneditable-input {
			width:95% !important;
		}
	}

}





















